<ul class="nav nav-tabs nav-stacked">
  <li>{{status}}</li>
  {{#if live}}
  <li>{{viewers}} viewers</li>
  {{/if}}
  <li>{{game}}</li>
  {{#if lolGames}}
    {{lol_games summonerName}}
  {{/if}}
  {{#if lolStats}}
    {{lol_stats summonerName}}
  {{/if}}
</ul>