<ul class="nav nav-tabs nav-stacked">
  <li>{{status}}</li>
  {{#if live}}
  <li>{{viewers}} viewers</li>
  {{/if}}
  <li>{{game}}</li>
</ul>

{{#if lolStats}}
<h3>Stats</h3>
<ul class="stats">
  {{lol_stats summonerName}}
</ul>
{{/if}}

<h3>Recent Games</h3>
{{#if lolGames}}
<ul>
  {{lol_games summonerName}}
</ul>
{{/if}}

