<div class="stream-content">
  <header class="stream-header">

  </header>
  <div class="screenshot">
    <a href="/stream/{{name}}" class="stream-link">
      <img src="{{preview}}"/>
    </a>
    <a href="/stream/{{name}}" class="stream-over">
      <div class="status">
        <strong>{{status}}</strong>
      </div>
      <time class="timeago" datetime="{{updated_at}}">{{updated_at}}</time>
    </a>
    <div class="meta">
      <span class="game">{{game}}</span>
      <span class="viewers">{{viewers}}</span>
    </div>
  </div>
  <h2 class="stream-title"><a href="/stream/{{streamId}}">
    <img src="{{logo}}" class="photo"/> {{name}}
  </a></h2>
</div>
