<div class="stream-content">
  <header class="stream-header">

  </header>
  <div class="screenshot">
    <div class="stream-link">
      <img src="{{preview}}"/>
    </div>
    <div class="stream-over">
      {{channel.status}}
    </div>
  </div>
  <p class="stream-text">{{channel.display_name}}</p>
  <footer class="stream-footer">
    <span class="game">{{game}}</span>
    <span class="viewers">{{viewers}}</span>
    <span class="timeago">{{channel.updated_at}}</span>
  </footer>
</div>