<header class="stream-header">
  <h3>{{channel.display_name}}</h3>
  <em>{{channel.status}}</em>
</header>
<div class="module">
  <img src="{{preview}}" width="80%"/>
  <p>{{game}}</p>
  <p>{{viewers}}</p>
</div>

