<header class="stream-header">
  <h2><img src="{{channel.logo}}" class="photo"/> {{channel.display_name}}</h2>
  <em>{{channel.status}}</em>
</header>
<div class="module">
  <img src="{{preview}}" width="80%"/>
  <p>{{game}}</p>
  <p>{{viewers}}</p>
</div>

